#landing {
  min-height: 100vh;
  background-image: url(../../assets/rocket-coffee.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 60vw;
  position: relative;
  header {
    padding: 5rem 0;

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }
}
.modal {
  li {
    padding: 1rem; 
    color: var(--border-menu-mobile);
    border-bottom: 1px solid var(--border);
    transition: ease .05s;
    cursor: pointer;
    &:hover {
      border-left: 4px solid var(--button);
      color: white;

    }
  }
}

@media (max-width: 1024px) {
  #landing {
    background-size: 60vh;
    header {
      padding: 4rem 0;
      border-bottom: 1px solid #29292E;

    }

    main {
      #sections>div {
      padding: 5rem 0;

        display: flex;
        flex-direction: column;
        gap: 5rem;
      }
      section:not(:last-child){
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}