:root {
  --backgrond: #000;
  --text-color: #FFF;
  --button: #8257E5;
  --border: #29292E;
  --border-menu-mobile: #A8A8B3;
  --text-color-menu-mobile: #E1E1E6;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--backgrond);
  background-image: url('./assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: 'Manrope', sans-serif;
}

ul  {
  list-style: none;
  padding-inline-start: 0;
  font-weight: 500;
}

.outline {
  padding: 1rem 2rem;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid  var(--button);
  color: white;
  border-radius: 6px;
  cursor: pointer;
  &:hover {
    background-color: var(--button);
    color: var(--backgrond);
  }
}

.glass {
  background-color: transparent;
  border: none;
}

.title-outlined {
  color: transparent;
  -webkit-text-stroke: 2px rgb(130, 87, 229);
}
h1 {
  font-size: 5rem;
  text-align: center;
}
@media (min-width: 1024px) {
  .desktop-only {
    display: block;
  }
  .mobile-only {
    display: none;
  }
}

@media (max-width: 1024px) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }

  h1 {
    font-size: 3.2rem;
    text-align: center;
  }
}